


<div class="content-body" style="margin-right: 80px; margin-left: 450px;">


	<div class="post-input mx-5 mb-5 mt-5">
		<textarea name="textarea" id="textarea" cols="30" rows="5" class="form-control bg-white" placeholder="Ecrire içi...."   [(ngModel)]="bodyPub" ></textarea> 
	<div class="input-group mb-3 "style="margin-left=30px">
		<a href="javascript:void(0);" class="btn btn-primary light me-1 px-3">  <i class="fa fa-camera m-0"></i> </a>
		
							<div class="form-file">
								<input type="file" class="form-file-input form-control" (change)="onFileSelected($event)">
							</div>
						</div>
		
		<a href="javascript:void(0);" class="btn btn-primary"  (click)="addPublication()">Publier</a>
		
	</div>
	

	<div class="container-fluid ">
	  <div class="row">
		<!--  publication cards   -->
		<div class="card" *ngFor="let pub of transform(listpub)" routerLink="/detail-publication/{{pub.id}}">
		<div class="card-body">
			<div class="profile-blog">
				<img [src]="'data:image/png;base64,'+pub.utilisateur?.picture " class="rounded-circle mx-2" alt="Profile" style="width: 60px; height: 60px;">
				<h5 class="text-primary d-inline">{{pub.utilisateur.prenom}} {{pub.utilisateur.nom}} </h5>
				<ul class="mb-4 post-meta d-flex flex-wrap">
					<li class="post-date me-3" style = "margin-left: 50px;"><i class="fas fa-calendar-check me-2"></i>{{pub.date | date:'MMM dd, yyyy à HH:mm '}}</li>
					<!--  comment count + logo   -->
					<li class="ms-auto"  *ngIf="pub.utilisateur.id_utilisateur==id">
						<svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="me-2">
							<circle cx="12" cy="12" r="10"></circle>
							<line x1="12" y1="16" x2="12" y2="12"></line>
							<line x1="12" y1="8" x2="12.01" y2="8"></line>
						</svg>
					</li>
					<li>
						<a   routerLink="/detail-publication/{{pub.id}}" class="clickable-arrow">
						  <i class="fas fa-arrow-right ms-3" style="color: black; width: 50%; margin-right: 0%;"></i>
						</a>
					  </li>
				</ul>
				<!--  publication corps   -->
				
			
				<h4><a  class="text-black"></a></h4>
				<h5 class="card-title">{{pub.corps}}</h5>
				<div *ngIf="pub?.picture">
					<img [src]="'data:image/png;base64,'+pub?.picture" alt="" class="img-fluid  rounded" style="height: 300px;width : 500px; margin-top: 30px; margin-left: 350px;">
				
				</div>
				
			</div>
		</div>
		<div class="d-flex justify-content-between align-items-center">
			<!-- gestion logo and counts for like & dislike    -->
			<div class="d-flex align-items-center">	
				<div *ngIf="!boolLike[pub.id]"> 
					<button class="btn p-0 border-0 bg-transparent" (click)="likePub(pub.id)">
					<svg class="me-1" width="30" height="30" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M20.8401 4.60896C20.3294 4.09796 19.7229 3.6926 19.0555 3.41604C18.388 3.13948 17.6726 2.99713 16.9501 2.99713C16.2276 2.99713 15.5122 3.13948 14.8448 3.41604C14.1773 3.6926 13.5709 4.09796 13.0601 4.60896L12.0001 5.66896L10.9401 4.60896C9.90843 3.57726 8.50915 2.99767 7.05012 2.99767C5.59109 2.99767 4.19181 3.57726 3.16012 4.60896C2.12843 5.64065 1.54883 7.03992 1.54883 8.49896C1.54883 9.95799 2.12843 11.3573 3.16012 12.389L4.22012 13.449L12.0001 21.229L19.7801 13.449L20.8401 12.389C21.3511 11.8782 21.7565 11.2718 22.033 10.6043C22.3096 9.93685 22.4519 9.22144 22.4519 8.49896C22.4519 7.77647 22.3096 7.06106 22.033 6.3936C21.7565 5.72614 21.3511 5.11971 20.8401 4.60896Z" fill="NONE" stroke="#000000" stroke-width="0.5" ></path>
					</svg>	
				</button>
				</div>
				<div *ngIf="boolLike[pub.id]" > 
					<button class="btn p-0 border-0 bg-transparent" (click)="dislikePub(pub.id)">
					<svg class="me-1" width="30" height="30" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M20.8401 4.60896C20.3294 4.09796 19.7229 3.6926 19.0555 3.41604C18.388 3.13948 17.6726 2.99713 16.9501 2.99713C16.2276 2.99713 15.5122 3.13948 14.8448 3.41604C14.1773 3.6926 13.5709 4.09796 13.0601 4.60896L12.0001 5.66896L10.9401 4.60896C9.90843 3.57726 8.50915 2.99767 7.05012 2.99767C5.59109 2.99767 4.19181 3.57726 3.16012 4.60896C2.12843 5.64065 1.54883 7.03992 1.54883 8.49896C1.54883 9.95799 2.12843 11.3573 3.16012 12.389L4.22012 13.449L12.0001 21.229L19.7801 13.449L20.8401 12.389C21.3511 11.8782 21.7565 11.2718 22.033 10.6043C22.3096 9.93685 22.4519 9.22144 22.4519 8.49896C22.4519 7.77647 22.3096 7.06106 22.033 6.3936C21.7565 5.72614 21.3511 5.11971 20.8401 4.60896Z" fill="#B22222"  ></path>
					</svg>	
					</button>
				</div>
<!--  count likes   -->
				<H6 class="text-black mb-0">{{likeCounts[pub.id]}}</H6>
				<div class="post-comment"  *ngIf="getCommentCount(pub.id)>0" style="margin-left: 15px;"><i class="fas fa-comment me-1"  style="font-size: 1.5em;"></i>{{getCommentCount(pub.id)}}</div>

			</div>

		</div>
		<br>
		<!--  comment cards : top 3 most recent only  -->
		<div class="card-footer"   *ngFor="let com of commentList[pub.id]">
			
			<img [src]="'data:image/png;base64,'+com.utilisateur?.picture " class="rounded-circle mx-2" alt="Profile" style="width: 50px; height: 50px;">
			<h5 class="text-primary d-inline">{{com.utilisateur.prenom}} {{com.utilisateur.nom}} </h5>
			<li class="post-date me-3"><i class="fas fa-calendar-check me-2"></i>{{com.date | date:'MMM dd, yyyy à HH:mm '}}</li>
			<p class="card-text d-inline">        {{com.corps}}</p>
		</div>

		<div class="comment-respond" id="respond">
			<form class="comment-form" id="commentform" method="post">
				 
					<div class="row">
						<div class="col-lg-10">
						  <div class="mb-3">
							<h6 class="timeline-panel" style=" margin-left:20px ;margin-top: 20px; text-decoration: underline; cursor: pointer;" routerLink="/detail-publication/{{pub.id}}"> See all comments</h6>
                     
			<!--  create a comment cards   -->				
			<h6 class="comment-reply-title text-primary mb-3 mt-5" id="reply-title">Commenter </h6>
							<textarea
							  rows="1"
							  class="form-control"
							  name="comment"
							  placeholder="Commentaire"
							  id="comment"
							  [(ngModel)]="this.newCommentaires[pub.id]"
							></textarea>
						  </div>
						</div>
						<div class="col-lg-2 d-flex align-items-end">
						  <div class="mb-3">
							<input
							  type="submit"
							  value="Post Comment"
							  class="submit btn btn-primary"
							  id="submit"
							  name="submit"
							  (click)="addcomment(pub.id)"
							/>
						  </div>
						</div>
					  </div>
					  

			</form>
		</div>
	</div>

	  </div>
	</div>
	
  </div>

  